{% include 'header.html' %}
<link href="/static/libs/css/default.css" rel="stylesheet">
<body>
  <!-- Header Image -->
  <div class="wide">
    <div class="col-xs-5 line"></div>
    <div class="col-xs-2 logo"><a href="#">Ride Aggregator</a></div>
    <div class="col-xs-5 line"></div>
  </div>

  <!-- Location Form -->
  <div class="container container-top">
    <form id="productForm" class="form-horizontal" action="/query.json">
      <div class="form-group">
          <div class="col-sm-4 col-md-offset-4 inputGroupContainer">
              <div class="input-group">
                  <input type="text" class="form-control" id="sourceTextField" name="source" placeholder="Source"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-screenshot"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-4 col-md-offset-4 inputGroupContainer">
              <div class="input-group">
                  <input type="text" class="form-control" name="destination" id="destinationTextField" placeholder="Destination"/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-screenshot"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class="col-sm-4 col-md-offset-4 inputGroupContainer">
        <button type="submit" class="btn btn-success btn-block" id="submitbtn">Get Fares</button>
      </div>
    </form>
  </div>

    <!-- START of the function -->
    <div class="col-lg-12" style="display: none;" id="main-table-div">
      <div class="panel panel-default panel-data">
        <!--<div class="panel-heading"><h3>Object Store</h3></div>-->
        <div class="panel-body" id="table-container">
          <table class="table table-condensed" id="service-results-table" style="border-collapse:collapse;">
            <!--thead>
              <tr><th>&nbsp;</th>
                <th>Service</th>
                <th>Service Type</th>
                <th>Fare</th>
              </tr>
            </thead-->

            <!--
            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
              <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
              <td>OBS Name</td>
              <td>OBS Description</td>
              <td>hpcloud</td>
              <td>nova</td>
              <td> created</td>
            </tr>
            <tr>
              <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> 
                <table class="table table-striped">
                        <thead>
                          <tr><td><a href="WorkloadURL">Workload link</a></td><td>Bandwidth: Dandwidth Details</td><td>OBS Endpoint: end point</td></tr>
                          <tr><th>Access Key</th><th>Secret Key</th><th>Status </th><th> Created</th><th> Expires</th><th>Actions</th></tr>
                        </thead>
                        <tbody>
                          <tr><td>access-key-1</td><td>secretKey-1</td><td>Status</td><td>some date</td><td>some date</td><td><a href="#" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-cog"></i></a></td></tr>
                        </tbody>
                  </table>
             STOP -->

            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- STOP of the function -->


  <!-- Footer. Add some stuff to it. -->
  <!--
     -<div class="bottom-wide-stuff">
     -->
       <div id="map-canvas"></div>
    <!--<div class="col-xs-5 line"><hr></div>-->
    <!--<div class="col-xs-2"><hr></div>-->
    <!--<div class="col-xs-5 line"><hr></div>-->
  <!--
     -</div>
     -->
{% include 'footer.html' %}
