    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- Autocomplete methods -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJVvHSlXhVAhSgX7XzN-H2MHg2LWT5tE8&libraries=places&v=3.exp"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>-->

    <script src="/static/libs/js/google_api.js"></script>
    <script>
      autocomplete();
    </script>
  </body>
</html>

